.classpath
.project
.settings
.externalToolBuilders
*.py[co]
*.*~
*\#
*.db
*_old
*.pybundle
*.sublime-workspace
/venv/
/api/_static/
target
.idea/
*.iml
*.log
*.DS_Store
reports/
repo_test_dir
**/webapp/static/bundle.js
**/node_modules/
**/dist/
**/.rpt2_cache/

screenshots
