@import '../variables';

.link() {
  color: @primaryPurple;
  font-family: 'Source Sans Pro', Arial, sans-serif;

  &:focus {
    outline: none;
    background: @infoYellow;
  }

  &:hover {
    text-decoration-line: none;
  }

  &--dark{
    color: @gray5;

    &:hover, &:active {
      color: @gray5;
    }
  }
}
